doctype html
html(lang="en")
	head
		title= pageTitle
		script(type='text/javascript', src='//code.jquery.com/jquery-1.12.0.min.js')
		script(type='text/javascript', src='/js/script.js')
		link(rel='stylesheet', type='css/text', href='/css/main.css')
	body
		.wrapper
			h1 Shop
			ul#items
