body {
  background: #eee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.title {
	padding-bottom: 15px;
	border-bottom: 2px #ccc dashed;
}

ul{
	list-style:none;
	padding: 0;
}

.wrapper {
	max-width: 40%;
	margin: auto;
	margin-top: 5%;
	background: #fff;
	padding: 50px;
}

a {
  color: #5c5;
  text-decoration: none;
}
